@import "../../styles/settings.scss";

.root{
    &__container{
        @include container;
    }
    &__title{
        font-size: 48px;
        text-align: right;
        margin-bottom: 20px;
    }
    &__description{
        font-size: 21px;
        color: #111;
        text-align: left;
    }
    &__accordion{
        padding-block: 20px;
        background-color: #fff;
        border: none;
        border-radius: 20px;
        padding-inline: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &Title{
            font-size: 28px;
            color: #000;
            text-align: left;
        }
        &Wrapper{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}