@import "../../../styles/settings.scss";

.root{
    display: none;
    @include md{
        display: block;
    }
    &__navigation{
        position: fixed;
        width: 100%;
        left: 0;
        top: 68px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    &__menu{
        width: 100%;
        display: flex;
        padding-inline: 20px;
        flex-direction: column;
        gap: 10px;
    }
    &__item{
        list-style: none;
        padding-block: 15px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border: 1px solid #ccc;
    }
}