@import "../../../styles/settings.scss";

.root{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include md{
        display: none;
    }
    &__menu{
        display: flex;
        gap: 20px;
    }
    &__item{
        list-style: none;
    }
}